@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.title {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-top: 12px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  font-size: "40rem"; /*12.5rem = a 20px*/
  font-weight: 700;
  line-height: "2rem";

}
