.button {
  display: block;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #0095f6;
  line-height: 18px;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: inherit;
  user-select: none;
  width: auto;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  appearance: none;
  /* transition: 0.1s;  */
}

.button:visited {
  border-radius: 4px;

}

.button:hover,
.button:focus {
  outline: none;
  /* box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1; */
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
